main {
  padding-inline: 20px;
}
.logo {
  background-color: #222f3f;
  text-align: start;
  padding-block: 5px;
  padding-left: 20px;
}
.logo img {
  width: 100px;
}
.menù {
  background-color: #364759;
  padding-left: 20px;
  padding-block: 5px;
  color: white;
}
ul {
  list-style: none;
}
li {
  display: inline;
  cursor: pointer;
  margin-right: 15px;
}
